
body {
  background-color: #1abc9c;
}


.wrapper {
  padding-top: 5%;
  margin: auto;
  width: 300px;
  text-align: right;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size:24px;
  color: #ecf0f1;
}



.header {
  font-family: 'Raleway', sans-serif;
  color: #ecf0f1;
  padding-left: 2%;
}