

.wrapper {
  padding-top: 5%;
  margin: auto;
  text-align: center;
  text-decoration-color: #ecf0f1;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size:24px;
  color: #1abc9c;
}


h1 {
  font-family: 'Raleway', sans-serif;
  color: #ecf0f1;
  padding-left: 2%;
}