<!DOCTYPE html>
<html>
<head>
  <title>Dohdoh</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
  <h1>DohDoh</h1>
  <h3>The DohDoh always forgets</h3>
</div>
<div class="wrapper">
  <%= yield %>
</div>
<div class="ground">
  <p class="ground1"></p>
  <p class="ground2"></p>
  <p class="ground3"></p>
  <p class="ground4"></p>
</div>



</body>
</html>
